/*=============variables================*/
$primary-color:#0062a3;
$secondary-color:#02b179;
$danger:crimson;
$body-bg-color:#e3e3e3;
/*================================*/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
    background-color:$body-bg-color;
}